<!DOCTYPE html>
<html lang="hr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../style/header.css" />
    <link rel="stylesheet" type="text/css" href="../style/footer.css" />
    <link rel="stylesheet" type="text/css" href="../style/home.css" />
    <link rel="stylesheet" type="text/css" href="../style/mySkill.css" />
    <link rel="stylesheet" type="text/css" href="../style/aboutMe.css" />
    <link rel="stylesheet" type="text/css" href="../style/portfolio.css" />
    <link rel="stylesheet" type="text/css" href="../style/testimionals.css" />
    <link rel="stylesheet" type="text/css" href="../style/contact.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Hrvoje Zec LV1</title>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <img src="../../images/Logo.png" alt="logo" class="image" />
        <nav class="nav">
          <a href="#Home">Home</a>
          <a href="#Portfolio">Portfolio</a>
          <a href="#AboutMe">About me</a>
          <a href="#Testimionals">Testimonials</a>
        </nav>
        <button class="button">Contact me</button>
      </div>
    </header>
    <main>
      <section id="Home" class="home">
        <div class="home-left">
          <div class="home-content">
            <h1>Hey, I am John</h1>
            <h2>I create <span>product design</span> and brand experience</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Suspendisse varius enim in eros elementum tristique.
            </p>
          </div>
          <div class="home-action">
            <button class="home-button">Get In Touch</button>
          </div>
        </div>
        <img src="../../images/Group 11 1.png" alt="logo" class="home-img" />
      </section>

      <section class="my-skill">
        <div class="Section-title">
          <p>My Skills</p>
          <div class="my-skill-content">
            <h1>My Expertise</h1>
          </div>
        </div>
        <div class="my-skill-row">
          <div class="my-skill-row1">
            <div class="row-section-title1">
              <div class="row-logo1">
                <img
                  src="../images/product-chain 1.png"
                  alt="logo1"
                  class="row-logo-img"
                />
              </div>
              <div class="row-content1">
                <p>Strategy & Direction</p>
                <p1>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Suspendisse varius enim in eros elementum tristique.
                </p1>
              </div>
            </div>
          </div>
          <div class="my-skill-rowDVA">
            <div class="row-section-title2">
              <div class="row-logo2">
                <img
                  src="../images/tag 1.png"
                  alt="logo2"
                  class="row-logo-img"
                />
              </div>
              <div class="row-content2">
                <p>Branding & Logo</p>
                <p1>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Suspendisse varius enim in eros elementum tristique.
                </p1>
              </div>
            </div>
          </div>
          <div class="my-skill-row3">
            <div class="row-section-title3">
              <div class="row-logo3">
                <img
                  src="../images/feather-pen 1.png"
                  alt="logo3"
                  class="row-logo-img"
                />
              </div>
              <div class="row-content3">
                <p>UI & UX Design</p>
                <p1>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Suspendisse varius enim in eros elementum tristique.
                </p1>
              </div>
            </div>
          </div>
          <div class="my-skill-row4">
            <div class="row-section-title4">
              <div class="row-logo4">
                <img
                  src="../images/feather-pen 1-1.png"
                  alt="logo4"
                  class="row-logo-img"
                />
              </div>
              <div class="row-content4">
                <p>Webflow Development</p>
                <p1>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Suspendisse varius enim in eros elementum tristique.
                </p1>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="AboutMe" class="aboutMe">
        <img src="../images/About Me.png" alt="logoAboutMe" />
        <div class="frame13">
          <div class="frame12">
            <p>About</p>
            <p1>About Me</p1>
          </div>
          <p2
            >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
            varius faucibus massa sollicitudin amet augue. Nibh metus a semper
            purus mauris duis. Lorem eu neque, tristique quis duis. Nibh
            scelerisque ac adipiscing velit non nulla in amet pellentesque. Sit
            turpis pretium eget maecenas. Vestibulum dolor mattis consectetur
            eget commodo vitae. Amet pellentesque sit pulvinar lorem mi a,
            euismod risus r.</p2
          >
        </div>
      </section>

      <section id="Portfolio" class="blog">
        <div class="blog-header">
          <div class="blog-header-title">
            <h1>Recent Projects</h1>
            <div class="blog-header-title-content">
              <h2>My Portfolio</h2>
            </div>
          </div>
          <div class="blog-header-button">
            <div class="button-icon">
              <img src="../images/Social icon.png" alt="SocialIcon" />
            </div>
            <p>Visit My Dribbble</p>
          </div>
        </div>
        <div class="blog-content">
          <div class="blog-content1">
            <div class="blog-row">
              <div class="card1">
                <img src="../images/Placeholder_/ Image.png" />
                <div class="card1-content">
                  <div class="card1-content1">
                    <div class="card1-title">
                      <h1>Ahuse</h1>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Suspendisse varius enim in eros.
                      </p>
                    </div>
                  </div>
                  <div class="card1-avatar">
                    <div class="avatar-content">
                      <p>View In Dribbble</p>
                      <img src="../images/Vector.png" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="card2">
                <img src="../images//Placeholder_/ Image-1.png" />
                <div class="card2-content">
                  <div class="card2-content1">
                    <div class="card2-title">
                      <h1>App Dashboard</h1>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Suspendisse varius enim in eros.
                      </p>
                    </div>
                  </div>
                  <div class="card2-avatar">
                    <div class="avatar-content">
                      <p>View In Dribbble</p>
                      <img src="../images/Vector.png" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="card3">
                <img src="../images/Placeholder_/ Image-2.png" />
                <div class="card3-content">
                  <div class="card3-content1">
                    <div class="card3-title">
                      <h1>Easy Rent</h1>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Suspendisse varius enim in eros.
                      </p>
                    </div>
                  </div>
                  <div class="card3-avatar">
                    <div class="avatar-content">
                      <p>View In Dribbble</p>
                      <img src="../images/Vector.png" alt="" srcset="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="Testimionals" class="testimonials">
        <div class="testimoials-title">
          <p1>Clients Feedback</p1>
          <p2>Customer testimonials</p2>
        </div>
        <div class="testimonials-content">
          <div class="testimionials-column1">
            <div class="starts">
              <img src="../images/Stars.png" />
            </div>
            <p>
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Suspendisse varius enim in eros elementum tristique. Duis cursus,
              mi quis viverra.
            </p>
            <div class="testimionials-avatar">
              <img src="../images/Avatar Image.png" />
              <div class="testimionals-avatar-content">
                <p>Dianne Russell</p>
                <p1>Starbucks</p1>
              </div>
            </div>
          </div>
          <div class="testimionials-column2">
            <div class="starts2">
              <img src="../images/Stars.png" />
            </div>
            <p>
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Suspendisse varius enim in eros elementum tristique. Duis cursus,
              mi quis viverra.
            </p>
            <div class="testimionials-avatar2">
              <img src="../images/Avatar Image-1.png" />
              <div class="testimionals-avatar-content2">
                <p>Kristin Watson</p>
                <p1>Louis Vuitton</p1>
              </div>
            </div>
          </div>
          <div class="testimionials-column3">
            <div class="starts3">
              <img src="../images/Stars.png" />
            </div>
            <p>
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Suspendisse varius enim in eros elementum tristique. Duis cursus,
              mi quis viverra.
            </p>
            <div class="testimionials-avatar3">
              <img src="../images/Avatar Image-1.png" />
              <div class="testimionals-avatar-content3">
                <p>Kathryn Murphy</p>
                <p1>McDonald's</p1>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="Contact" class="contact">
        <div class="contact-title">
          <p>Get In Touch</p>
          <div class="contact-content">
            <p1>Contact us</p1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
        <div class="contact-form">
          <div class="input">
            <div class="first-name">
              <p>First name</p>
              <input type="text" />
            </div>
            <div class="last-name">
              <p>Last name</p>
              <input type="text" />
            </div>
          </div>
          <div class="input1">
            <div class="email-input">
              <p>Email</p>
              <input type="email" />
            </div>
            <div class="phone-number">
              <p>Phone number</p>
              <input type="number" />
            </div>
          </div>
          <div class="input2">
            <p>Choose a topic</p>
            <div class="select-one">
              <p>Select one...</p>
              <div class="input2-icon">
                <img src="../images/vector-down.png" class="vector-down" />
              </div>
            </div>
          </div>
          <div class="radios"></div>
          <div class="input3">
            <p>Message</p>
            <div class="message-box">
              <p>Type your message...</p>
            </div>
          </div>
          <div class="checkbox-button">
            <p>I accept the terms</p>
            <input type="checkbox" />
          </div>
          <button class="contact-button">
            <p>Submit</p>
          </button>
        </div>
      </section>
    </main>

    <footer class="footer">
      <div class="container-footer">
        <img src="../../images/Logo.png" alt="logo" class="image-footer" />
        <nav class="nav-footer">
          <a href="#Home">Home</a>
          <a href="#Portfolio">Portfolio</a>
          <a href="#AboutMe">About me</a>
          <a href="#Contact">Contact</a>
          <a href="#Testimionals">Testimonials</a>
          <a href="#Portfolio">Portfolio</a>
        </nav>
        <div class="social-links">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-youtube"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
        </div>
      </div>
      <div class="container-divider">
        <div class="divider"></div>
        <div class="row">
          <p>Made with 💖 by Airdokan</p>
          <nav class="footer-links">
            <a href="#PrivacyPolicy">Privacy Policy</a>
            <a href="#TermsOfService">Terms of Service</a>
            <a href="#CookiesSettings">Cookies Settinga</a>
          </nav>
        </div>
      </div>
    </footer>
  </body>
</html>
